*{
    font-family: 微軟正黑體;
}
html, body {
    position: relative;
    height: 100%;
  }
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: black;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
body{
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}
#all{
width: 100%;
height: calc(500vh + 50px);
background-color: darkgray;

}
#benner{
width: 100%;
height: calc(100vh - 50px);
/* background-color: aquamarine; */

}
#contaner{
width: 100%;
height: calc(400vh + 50px);
background-color: black;
margin-left:auto; 
margin-right:auto; 
}
#contaner .navbar{
width: 1200px;
height: 50px;
background-color: black;
margin-left:calc(50% - 600px);
float:left;
}
#contaner .navbar .logo{
width: 80px;   
height: 50px;
/* background-color: slategrey; */
float:left;
background-image:url(pic/logo.png); 


}
#contaner .navbar .nav_ul{
padding-top: 6px;
list-style-type: none;
margin: 0;
display: flex;
justify-content: space-around;
font-size:30px;
color:wheat
}
#contaner .navbar .nav_ul .nav_li{
width: 130px;
height: 100%;
background-color: black;
text-align: center
}
.about{
width: 100%;
height: 100vh;
background-color: black;
float:left;
justify-content: space-around;
position: relative;

/* background-image: url(pic/about_bac.jpg) */
}
.about .about_text{
    width: 100%;
    height: 100%;
    /* background-color: wheat; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;

    
}
.about .about_text .about_text_RAV, .about .about_text .about_text_Bolas{
    width: 40%;
    height: 80%;
    align-self: flex-end;
    color: aliceblue;
}
.about .about_text .about_text_RAV h3{
    line-height: 50px;
    margin-left:10%; 
    margin-right:10%;
}
.about .about_text .about_text_Bolas h3{
    line-height: 50px;
    margin-left:10%; 
    margin-right:10%;
}
.about .about_pic{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
}
.about .about_pic .about_RAV{
    width: 40%;
    height: 80%;
    align-self: center;
    background-image: url(pic/about_RAV_pic.jpg);
    background-position: top;
}
.about .about_pic .about_Bolas{
    width: 40%;
    height: 80%;
    align-self: center;
    background-image: url(pic/about_about_Bolas.jpg);
    background-position: top;
}
.about .about_pic .about_RAV:hover{
    opacity: 0;
}
.about .about_pic .about_Bolas:hover{
    opacity: 0;
}
.beacon{
width: 1200px;
height: 100vh;
background-color: black; 
float:left;
display: flex;
justify-content: space-around;
background-image:url(pic/beacon-pic.jpg);
background-position: cover;
margin-left:calc(50% - 600px);
}
.beacon .ignite, .beacon .pic_Interplanar_Beacon{
width: 45%;
height: 80%;
/* background-color: darkgoldenrod; */
align-self: center;
}

.pic_Interplanar_Beacon{
background-image:url(pic/pic_Interplanar_Beacon.jpg);
align-self: center;
}
.camps{
width: 1200px;
height: 100vh;
background-color: teal;  
background-image:url(pic/pic-camps.jpg); 
float:left; 
margin-left: calc(50% - 600px);
}
.camps .camps_title_box{
width: 45%;
height: 100px;
/* background-color: burlywood; */
margin-top:60px; 
margin-bottom:40px;
margin-right: auto;
margin-left: auto;
}
.camps .camps_title_box p{
text-align: center;
padding: 0;
line-height:100px;
color:ivory;
}
.camps .planswalker, .camps .elderspell{
width: 45%;
height: 80%;
/* background-color: darkgoldenrod; */
float: left;
margin-left: 3%;
}  
.camps .planswalker .pic_planswalker{
width: 100%;
height: calc(50% - 10px);
/* background-color: darkgray; */
}
.pic_planswalker{
background-image:url(pic/pic_planswalker.jpg); 

}
.camps .planswalker .text_planswalker{
width: 100%;
height: calc(30% - 10px);
background-color: darkgray;
margin-top:20px; 
border-radius:10px; 
}
.camps .elderspell .pic_elderspell{
width: 100%;
height: calc(50% - 10px);
/* background-color: darkgray; */
}
.pic_elderspell{
background-image:url(pic/pic_elderspell.jpg);
}
.camps .elderspell .text_elderspell{
width: 100%;
height: calc(30% - 10px);
background-color: darkgray;
margin-top:20px; 
border-radius:10px; 
}
.despark{
width: 1200px;
height: 100vh;
background-color: lightseagreen; 
float:left; 
margin-left: calc(50% - 600px);
background-image:url(pic/despark_pic.jpg);
background-position: top;
}
.despark .title_despark{
width: 45%;
height: 100px;
/* background-color: burlywood; */
margin-top:150px; 
margin-bottom:50px;
margin-right: auto;
margin-left: auto;
}
.despark .title_despark p{
text-align: center;
padding: 0;
line-height:100px;
color:honeydew;

}
.despark .text_despark{
width: 80%;
height:15%;
background-color: grey;    
margin-right: auto;
margin-left: auto;
border-radius: 10px;
}
.footer{
width: 100%;
height: 70px;
background-color: gold;

}
h1{
font-size:50px;
}
h3{
font-size: 22px;
line-height: 40px;
}
img{
    width: auto;
    height: calc(100vh - 50px);
}