$Japan-red:#c0106e80;
$Malaysia-yellow:#b6c11480;
$Hongkonh-blue:#186bbd80;
h1{
    font-size:60px;
}


*{
    margin: 0;
    font-family: 微軟正黑體;
    color:floralwhite;
    box-sizing: border-box;
}
html{
    position: relative;
    // overflow: hidden;
}
body{
    background-color: black;
    
}
#page{
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  @media (max-width: 1024px){
    #page{
      flex-direction: column;
    }
  }
  

  .city_view{
      flex: 1;
      position: relative;

      .Hongkong{
        background-image: url(./Hongkong/Hongkong.jpg);
        background-position: center;
        background-size: cover;
        position: absolute;
      }
      .Malaysia{
        background-image: url(./Malaysia/izuddin-helmi-adnan-vTveTqbaTNM-unsplash.jpg);
        background-position: center;
        background-size: cover;
        position: absolute;
      }
      .Japan{
        background-color: dimgray;
        background-image: url(./japan/tower.jpg);
        background-position: center;
        background-size: cover;
        position: absolute;
        }
      }
      .pos_1{
        width: 25%;
        height: 100vh;
        left:0;
        transition-duration: 1s;
        transition:
        1s cubic-bezier(.35,.86,.77,.81),
        
      }
      .pos_2{
        width: 25%;
        height: 100vh;
        left:25%;
        transition-duration: 1s;
        transition:
        1s cubic-bezier(.35,.86,.77,.81),
        
        
        
      }
      .pos_3{
        width: 50%;
        height: 100vh;
        left:50%;
        transition-duration: 1s;
        transition:
         1s cubic-bezier(.35,.86,.77,.81),
      }
      @media (max-width: 1024px){
        .pos_1, .pos_2, .pos_3{
          height: 50vh;
        }
      }

  .content{
    flex: 1;
    .content_pic{
      width: 50%;
      height: 100%;
      z-index: -1;
      position: absolute;
      background-position: center;
      background-size: cover;
    }
    
    
    #pic_Japan{
      background-image: url(./japan/bac.jpg);
      z-index: -1;
    }
    #pic_Malaysia{
      background-image: url(./Malaysia/bac.jpg);
    z-index: -2;
    }
    #pic_Hongkong{
      background-image: url(./Hongkong/bac.jpg);
      z-index: -3;
    }
      
    nav{
      position: absolute;
      z-index: 100;
        ul{
            display: flex;
            list-style:none;
            justify-content: space-between;
            padding:1% 0 1% 30%;
            text-shadow:0.1em 0.1em 0.2em black;
            li{
              margin-left:50%; 
            }
        }
    }
    
    @media (max-width: 850px){
      nav{
        display: none;
      }
    }

    
.nav_box{
  width: 50px;
  background-color: rgba(49, 48, 49, 0.692);
  float: right;
  margin:2%;
  border-radius: 5px;
  padding-top:calc(25px - 11.5px);
  padding-bottom:calc(25px - 11.5px);
  text-align: center;
  display: none;
}
@media (max-width: 850px){
  .nav_box{
    display: block;
  }
}


    .city_name{
        text-shadow:0.2em 0.2em 0.2em black;
        padding-top:20%;
        padding-left: 7%;    
        
    }
  }

  .location_bar{
      width: 50vw;
      position: absolute;
      left:50%;
      bottom: 2%;
     
      
      

      .long_box{
          display: flex;
      

          .location{
              text-align: center;
              flex:1;
              background-color: $Japan-red;
              margin-top:1%;
              padding: 0.5em 0 0.5em 0;
              transition: 2s;
          }
      }
  }
  @media (max-width: 1024px){
    .content{
      height: 50vh;
      .content_pic{
        height: 50vh;
        width: 100%;

        
        }
      }
    }

@media (max-width: 1024px){
    .location_bar{
      width: 100vw;
      left:0;
      opacity: 0.8;
    }
}

@media (max-width: 1024px){
  #city_name{
    font-size: 42px;
  }
  
}

@media (max-width: 1024px){
  .content .city_name{
    padding-top:10%;
    padding-left: 7%;

  }
}
.phone_nav{
  display: none;
  

  p{
    padding-top: 10%;
    text-align: center;
    font-size: 0.5em;
  }
}

