.body{
    width: 100vw;
    box-sizing: border-box;
}
.fullpage{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.ad_jump{
    width: 100vw;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_box{
    height: 300px;
    width: 300px;
    background-image: linear-gradient(to bottom, #43e97b 0%, #38f9d7 100%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:3% 0 3% 0; 

}

.icon img{
    width: 70%;
}



.copy_box{
    position: relative;
}

#input{
    position: relative;
    z-index: -10;
}

#text{
    margin-left:auto;
    margin-right:auto;
}

.cancel_btm{
    height: 30px;
    width: 30px;
    background-color: cornsilk;
    position: absolute;
    top:-10px;
    right:-10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel_red{
    height: 26px;
    width: 26px;
    background-color: crimson;
    border-radius: 50%;
    position: relative;
    
}

.bar{
    width: 90%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    transition-property: top, transform;
    transform: translate(-50%, -50%);
    position: absolute;
    top:50%;
    left:50%;
}

.cancel_red:hover .bar01{
    transition-duration: 0.5s;
    transition-delay: 0.5;
    transform: translate(-50%, -50%) rotate(225deg);
}

.cancel_red:hover .bar02{
    transition-duration: 0.5s;
    transition-delay: 0.5;
    transform: translate(-50%, -50%) rotate(-225deg);
}

.bar01{
    transform: translate(-50%, -50%) rotate(45deg);
}

.bar02{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.hide{
    display: none;
}
.ad_jump p{
    font-family: Arial, Helvetica, sans-serif, 黑体 ; 
    font-size: 30PX;
    color:red;
}

#copy{
    font-size: 20PX; 
    border-radius: 10PX;
    margin:3% 0 3% 0;
    padding:2% ;
}

@media (max-width:750px){

    .fullpage .pic {
        width: auto;
        height: auto;
        max-width: 100vw;

    }



    #copy{
        margin-top:5%;
        font-size: 40px;
        padding:2%
    }
    .icon{
        padding-bottom:10%;
    }

    .inner_box p{
        padding-bottom:5%;
        font-size: 40px;
    }

    .cancel_btm{
        height: 45px;
        width: 45px;
    }
    .cancel_red{
        height: 41px;
        width: 41px;
    }

    .contact_box{
        width: 90%;
    }
}